<h1>Posts</h1>

<%= link_to "Home", root_path %>
<% if user_signed_in? %>
  <%= link_to "New post", new_post_path %>
<% end %>



<div id="posts">
  <% @posts.each do |post| %>
    <hr>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
